#login-form {
  font-family: 'Lora', serif;
  background-color: #00c7b7;
  color:white;
  width:300px;
  padding:10px;
}
#signup-form {
  font-family: 'Lora', serif;
  background-color: #e6efee;
  width:300px;
  padding:10px;

}
#login-form h2 {
  margin:0;
}
#signup-form h2 {
  margin:0;
}
